/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.fixed-button {
    position: fixed;
    cursor: pointer;
    width: auto!important;
    height: 40px;
    top: 50%;
    right: 0px;
    text-align: center!important;
    color: #fff;
    border-radius: 0px!important;
    border: none!important;
}

@media only screen and (max-width: 480px) {
.offcanvas {
    max-width: 70%!important;
}